
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background: url("hos.jpg.jpg") no-repeat center center fixed;
  background-size: cover;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 30px;
  position: sticky;
  top: 0;
}


nav .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #00bcd4; 
}
